{% extends 'layout.server.view.html' %}

{% block content %}
	<section data-ng-include="'/modules/core/views/room.client.view.html'">
		<div class="container" data-ng-controller="HeaderController">
			
			<center><h1>Requested Rooms</h1></center>
		
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Date</th>
						<th>Time Period</th>
						<th>Contact</th>
						<th>Approve</th>
						<th>Deny</th>
					</tr>
				<tbody>
			{% for reservation in reservations %}
		  		<tr>
		    		<td> {{ reservation.date }} </td> 
		    		<td> {{ reservation.time_period}} </td> 
		    		<td> {{ reservation.contactEmail}} </td>
		    		<td> 
		    			<form action='approveroom'>
		    				<input type='hidden' name='id' value=" {{ reservation.id }}"> 
		    				<Button type='submit' id='approve' class='btn btn-success' value=''>
		    				<span class="glyphicon glyphicon-ok"></span>
		    				</Button>
		    			</form>
		    		</td>
		    		<td>
		    			<form action='denyroom'>
		    				<input type='hidden' name='id' value=" {{ reservation.id }}"> 
    						<Button type='submit' class='btn btn-danger' value='deny'>
    							<span class="glyphicon glyphicon-remove"></span>
    						</Button>
		    			</form>				    
		    		</td>
		  		</tr>
			{% endfor %}
			</tbody>
		</table>
		</div>
	</section>
{% endblock %}
