<html>
	<head>
		<script>
			var object = [
				{"object": "object1"},
				{"object": "object2"},
				{"object": "object3"}
			];

			alert( object[0].object );
			//alert( JSON.stringify(object[0]) );
			//alert( JSON.stringify(object[0]) );
		</script>
	</head>

	<body class="ng-cloak">
		<h1>Title</h1>
		<p> The data:</p>
		<p>{{docs}}</p>
		<p>{{ docs[0] }}</p>
		<br/>
		<p>Parsing it:</p>
		<div ng-repeat='data in docs'>
			<ul>
				<li>{{docs._id}}</li>
				<li>{{docs.room}}</li>
			</ul>
		</div>
	</body>
</html>