<section data-ng-controller="AuthenticationController">

<!DOCTYPE html>
<html lang="en">

<head>

   

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title >App Template</title>

    <!-- Custom CSS -->
    <!-- added to custom.css
    <style>
    body {
        padding-top: 40px;
        padding-bottom:40px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

     

</head>

<body>
    

    <!--<script type="text/JavaScript" src="../../lib/jquery/dist/jquery.js"></script>-->
    <!-- Page Content -->
    <div class="col-lg-12 text-center" ng-controller="ModalDemoCtrl" style="margin-bottom:20px;" ng-init="validateLogin()">

        <a href="#!/approvedevents" id="back" class="btn btn-default" style="float: left;">Back to Requests<i class="fa fa-home"></i></a>

        <h2 style="color:black; align-content:center"> Admin Settings </h2>
        Restrict reservation requests from

        <!--<h4> From </h4>-->
        <!-- The Date Picker is injected into this div -->
        <div id="datePicker"></div>
        <div hidden="hidden" id="selectedDate"></div>
        to
        <!-- The Date Picker is injected into this div -->
        <div id="datePicker2"></div>
        <div hidden="hidden" id="datePicker2SelectedDate"></div>

        <br>

        <form class="form-horizontal" role="form">

            <div class="modal-footer" style="border-top:none;">
                <button class="btn btn-primary" ng-click="openChangedDateSettings()">Submit</button>
            </div>
        </form>

        <!-- Request Button is here -->




        <script type="text/ng-template" id="ModalDateSuccess.html">

            <div class="modal-body" ng-init="dateSettings()">
                <!-- Request Information is here -->
                <form class="form-horizontal" role="form" ng-submit="cancel()">
                    <h3 class="text-center" style="color:black;"></h3>
                    
                    Great! Reservations can now only be made between {{items[0]}} and {{items[1]}}

                    <div class="modal-footer" style="border-top:none;">
                        <button class="btn btn-primary" type="submit">Okay</button>
                    </div>
                </form>
            </div>


        </script>



        <script type="text/ng-template" id="ModalDateFailure.html">

            <div class="modal-body" ng-init="dateSettings()">
                <!-- Request Information is here -->
                <form class="form-horizontal" role="form" ng-submit="cancel()">
                    <div>The start date must be before the end date.</div>
                    <div class="modal-footer" style="border-top:none;">
                        <button class="btn btn-primary" type="submit">Okay</button>
                    </div>
                </form>
            </div>


        </script>


    </div>




    <script type='text/javaScript'>
        var options1 = {
            setID: "date1"
        };
        var options2 = {
            setID: "date2"
        };
        $('#datePicker').datepaginator("date2");
        $('#datePicker2').datepaginator(options2);
        console.log($('#datePicker').datepaginator());
        console.log($('#datePicker2').datepaginator());
    </script>

    <script>
        $(function () {
            $("#datepicker").datepicker({
                setID: "selectedDasdf",
                altField: "#alternate",
                altFormat: "DD, d MM, yy"
            });
        });
    </script>
    <!--
                          <div> <p>Date: <input type="text" id="datepicker">&nbsp;<input type="text" id="alternate" size="30"></p> </div>
    -->

</body>

</html>

</section>
