

<div class="container" data-ng-controller="AuthenticationController" >

<div class="col-lg-12" ng-controller="ModalDemoCtrl">

        <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title" id="modalTitle">Request Form</h3>
            </div>
            <div class="modal-body">
                <ul>

                    <!-- Request Information is here -->
                    <form class="form-horizontal" role="form" ng-submit="adminRequest()">

                        <div class="form-group">
                            <label for="inputName" class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" data-ng-model="request.name" name="name" class="form-control" id="inputName" placeholder="Name" ng-required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-10">
                                <input type="email" data-ng-model="request.email" name="email" class="form-control" id="inputEmail" placeholder="Email" ng-required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputNumber" class="col-sm-2 control-label">Phone</label>
                            <div class="col-sm-10">
                                <input type="tel" data-ng-model="request.telephone" name="telephone" class="form-control" id="inputNumber" placeholder="Phone Number" ng-required>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="inputRoom" class="col-sm-2 control-label">Room Number</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" data-ng-model="request.roomNumber" name="room" id="inputRoom" placeholder="Type in a custom room number." rows="2"></textarea>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="inputDesc" class="col-sm-2 control-label">Description</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" data-ng-model="request.description" name="description" id="inputDesc" placeholder="Describe the reason for requesting a room." rows="2"></textarea>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="inputDate" class="col-sm-2 control-label">Date</label>
                            <div class="col-sm-10">
                                <input type="date" name="date" class="form-control" ng-model="request.date" id="inputDate" ng-click="getUnavailablePeriods(121, date)" placeholder="Date" value="1222-12-12" ng-required>
                                
                            </div>
                        </div>

                        <!--
                        <div class="form-group">
                            <label for="inputDate" class="col-sm-2 control-label"> TestDate</label>
                            <div class="col-sm-10">
                                <input type="text" data-ng-model="request.date" name="date" class="form-control" id="inputDate">
                            </div>
                        </div>
                        -->
                        <!--
                        <div class="form-group">
                            <label for="inputRoom" class="col-sm-2 control-label">Room</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <div class="input-group-addon">#</div>
                                    <select class="form-control" name="roomNumber" ng-model="request.roomNumber" id="inputRoom" ng-required>
                                        <option> {{buttonId}} </option>
                                        <option>106B</option>
                                        <option>120</option>
                                        <option>121</option>
                                        <option>142</option>
                                        <option>143</option>
                                        <option>144</option>
                                        <option>145</option>
                                        <option>146</option>
                                        <option>147</option>
                                        <option>232</option>
                                        <option>232A</option>
                                    </select>
                                </div>
                            </div>
                        </div> -->


                        <div class="form-group">
                            <label for="inputPeriod" class="col-sm-2 control-label">Starting Period</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <div class="input-group-addon">#</div>
                                    <select class="form-control" ng-model="request.period" name="period" id="inputPeriod" ng-required>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                        <option>10</option>
                                        <option>11</option>
                                        <option value="12">E1</option>
                                        <option value="13">E2</option>
                                        <option value="14">E3</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputLength" class="col-sm-2 control-label">Length (Periods)</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <div class="input-group-addon">#</div>
                                    <select class="form-control" ng-model="request.length" name="length" id="inputLength" ng-required>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div data-ng-show="error" class="text-center text-danger">
                            <strong data-ng-bind="error"></strong>
                        </div>
                        <br>
                        <!-- Request Information module ends here -->
                        <!-- On submitform have a success message, on cancel close the big modal-->
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="submit">Submit</button>
                            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                        </div>
                    </form>
                </ul>
            </div>


        </script>




    <script type="text/ng-template" id="otherRequests.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modalTitle">Approve Event?</h3>
        </div>
        <div class="modal-body">
            Other requests have been made for this same date, room, and period. Accepting this request will automatically reject the others. Are you sure you want to continue?
        </div>
        <div ng-repeat="request in items">{{request.title}} (Sponsor is {{request.sponsor}})</div>
        <form class="form-horizontal" role="form" ng-submit="approveAndDenyConflicting()">
            <div class="modal-footer" style="border-top:none; padding-top: 50px;">
                <button class="btn btn-primary" type="submit">Submit</button>
                <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
            </div>
        </form>
    </script>


        <script type="text/ng-template" id="myCommentContent.html">
            <div class="modal-header">
                <h3 class="modal-title" id="modalTitle">Deny Event?</h3>
            </div>
            <div class="modal-body">

                <!-- Request Information is here -->
                <form class="form-horizontal" role="form" ng-submit="deny(items, comment, 'adminview')">
                    <label for="inputComment" class="col-sm-2 control-label">Comment:</label>
                    <label for="inputComment" class="col-sm-2 control-label" hidden="hidden">{{items}}</label>
                    <div class="col-sm-10">
                        <input type="text" name="comment" class="form-control" ng-model="comment" id="inputComment" placeholder="Insert a comment (optional)">

                    </div>
                    <!-- Submits the denial for the id of the event plus a comment. -->
                    <div class="modal-footer" style="border-top:none; padding-top: 50px;">
                        <button class="btn btn-primary" type="submit">Submit</button>
                        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
                    </div>
                </form>
            </div>


        </script>

        <center><h1>Requested Rooms</h1></center>

        <button type="button" data-toggle="buttons" class="btn btn-default" style="float: right;" ng-click="open(147)">Custom Request</button>

        <a href="#!/approvedevents" id="approved" class="btn btn-default" style="float: left;">View Approved Events<i class="fa fa-home"></i></a>
    <a href="#!/adminsettings" id="adsettings" class="btn btn-default" style="float: left;">Admin Settings<i class="fa fa-home"></i></a>
        <br>
        <br>
        <table ng-init="validateLogin()" class="table table-striped">
            <thead>
                <tr>
                    <th style="padding-right:25px">Room</th>
                    <th style="padding-right:25px">Period</th>
                    <th style="padding-right:25px">Request For</th>
                    <th style="padding-right:25px">Contact</th>
                    <!-- <th>Room ID</th> -->
                    <th class="text-left" style="padding-right:25px">Submitted on</th>
                    <th class="text-center">Details</th>
                    <th class="text-center">Approve</th>
                    <th class="text-center">Deny</th>
                </tr>
            <tbody ng-init="fetchRequests()">

                <tr ng-repeat="reservation in events.slice()" id="tbl" ng-init="res = reserva;">
                    <td ng-show="reservation.room" style="padding-right:25px"> {{ reservation.room }} </td>
                    <td style="padding-right:25px"> {{ reservation.period }} </td>
                    <td style="padding-right:25px"> {{ reservation.month }}-{{ reservation.day }}-{{ reservation.year }}</td>
                    <td style="padding-right:25px"> {{ reservation.contactEmail}} </td>
                    <!-- <td> {{ reservation.id }} </td> -->
                    <td class="text-left" style="padding-right:25px"> {{ parseWeirdDate(reservation.created) }} </td>

                    <td id="nameGoesHere" hidden="hidden" ng-init="title = reservation.title;">NAME!!!!!!!</td>

                    <td>
                        <!--
                        provide additional details here with a modal (event title, desc, contact)
                        -->
                        <div ng-controller="ModalInfoCtrl">

                            <script type="text/ng-template" id="infomodal.html" ng-init="setInfo(reservation)">
                                <div class="modal-header">
                                    <h3 class="modal-title">Event Information</h3>
                                </div>
                                <div id="innerInfo">
                                    <ul class="list-group">
                                        <li class="list-group-item"><strong>Name: </strong>{{ items.title }}</li>
                                        <li class="list-group-item"><strong>Email: </strong>{{ items.contactEmail }}</li>
                                        <li class="list-group-item"><strong>Phone Number: </strong>{{ items.contactPhone }}</li>
                                        <li class="list-group-item"><strong>Room: </strong>{{ items.room }}</li>
                                        <li class="list-group-item"><strong>Period: </strong>{{ items.period }}</li>
                                        <li class="list-group-item"><strong>Sponsor: </strong>{{ items.sponsor }}</li>
                                        <li class="list-group-item"><strong>Organization: </strong>{{ items.organization }}</li>
                                        <li class="list-group-item"><strong>Description: </strong>{{ items.description }}</li>
                                        <li class="list-group-item"><strong>Requested for: </strong>{{ items.month }}-{{ items.day }}-{{ items.year }}</li>
                                    </ul>

                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-warning" ng-click="cancel()">Close</button>
                                </div>
                            </script>



                            <button ng-click="open()" id="infor" class='btn btn-info center-block'>
                                <span class="glyphicon glyphicon-info-sign"></span>
                            </button>

                        </div>

                    </td>

                    <td>

                        <!--
                        1. make two forms: one for approving, one for denying
                        2. have hidden fields for the room id for each form
                        3. only submit the form whose button is pushed
                        -->
                        <form ng-submit="approveReq(reservation._id, reservation.day, reservation.month, reservation.year, reservation.room, reservation.period)">
                            <input name='id' type="hidden" value="{{reservation._id}}">
                            <button type='submit' id='approve' class='btn btn-success center-block' value=''>
                                <span class="glyphicon glyphicon-ok"></span>
                            </button>
                        </form>
                    </td>
                    <td>
                        <form ng-submit="comment(reservation._id)">
                            <input type='hidden' name='id' value="{{reservation._id}}">
                            <button type='submit' id='deny' class='btn btn-danger center-block' value='deny'>
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
</div>
