<style>
body {
padding-top: 40px;
padding-bottom:40px;
}
</style>

<section class="row" data-ng-controller="AuthenticationController">

    <div class="col-md-4 col-md-offset-4">
         <h3 class="text-center">Admin Login</h3>
   
        <form data-ng-submit="signin()" ng-init="redirectIfLoggedIn()" class="signin form-horizontal" autocomplete="off">
            <fieldset>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
                </div>
                <div class="text-center form-group">
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </div>
                <div class "forgot-password">
                    <a href="/#!/password/forgot">Forgot your password?</a>
                </div>
                <div data-ng-show="error" class="text-center text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>

</div>
</section>