<section data-ng-controller="HomeController">

<!DOCTYPE html>
<html lang="en">

<head>

   

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title >App Template</title>

    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 40px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

     

</head>

<body>
  <!--<script type="text/JavaScript" src="../../lib/jquery/dist/jquery.js"></script>-->
    <!-- Page Content -->
    <div class="container">

                <div class="jumbotron text-center" >
                    <h2> Music Room Schedule Application </h2>
                    <h3> Step 1 - Choose a date! </h3>
                   
                     <!-- The Date Picker is injected into this div -->   
                     <div id="datePicker"></div>
                    <div id="selectedDate"></div>
                </div>
    

    <!-- Request Button is here -->

    <div class="col-lg-12 text-center" ng-controller="ModalDemoCtrl">
        <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title" id="modalTitle">Request Form</h3>
            </div>
            <div class="modal-body">
                <ul>

                        <!-- Request Information is here -->
                        <form class="form-horizontal" role="form" ng-submit="ok()">

                            <div class="form-group">
                                <label for="inputName" class="col-sm-2 control-label">Name</label>
                                <div class="col-sm-10">
                                    <input type="text" data-ng-model="request.name" name="name" class="form-control" id="inputName" placeholder="Name" ng-required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-10">
                                    <input type="email" data-ng-model="request.email" name="email" class="form-control" id="inputEmail" placeholder="Email" ng-required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputNumber" class="col-sm-2 control-label">Phone</label>
                                <div class="col-sm-10">
                                    <input type="tel" data-ng-model="request.telephone" name="telephone" class="form-control" id="inputNumber" placeholder="Phone Number" ng-required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputSponsor" class="col-sm-2 control-label">Sponsor</label>
                                <div class="col-sm-10">
                                    <input type="text" data-ng-model="request.sponsor" name="sponsor" class="form-control" id="inputSponsor" placeholder="Sponsor Name" ng-required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputOrg" class="col-sm-2 control-label">Organization</label>
                                <div class="col-sm-10">
                                    <input type="text" data-ng-model="request.organization" name="organization" class="form-control" id="inputOrg" placeholder="Organization Name" ng-required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputDesc" class="col-sm-2 control-label">Description</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" data-ng-model="request.description" name="description" id="inputDesc"  placeholder="Describe the reason for requesting a room." rows="2"></textarea>
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="inputDate" class="col-sm-2 control-label">Date</label>
                                <div class="col-sm-10">
                                    <!--input type="date" name="date" class="form-control" ng-model="request.date" id="inputDate" ng-click="getUnavailablePeriods(121, date)" placeholder="Date" value="1222-12-12" ng-required -->
                                    <textarea class="form-control"  ng-model="items" name="date" id="inputDate">{{ items }}</textarea>
                                </div>
                            </div>

                            <!--
                        <div class="form-group">
                            <label for="inputDate" class="col-sm-2 control-label"> TestDate</label>
                            <div class="col-sm-10">
                                <input type="text" data-ng-model="request.date" name="date" class="form-control" id="inputDate">
                            </div>
                        </div>
                        -->

                        <!-- 
                        <div class="form-group">
                            <label for="inputRoom" class="col-sm-2 control-label">Room</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <div class="input-group-addon">#</div>
                                    <select class="form-control" name="roomNumber" ng-model="request.roomNumber" id="inputRoom" ng-required>
                                        <option> {{buttonId}} </option>
                                        <option>106B</option>
                                        <option>120</option>
                                        <option>121</option>
                                        <option>142</option>
                                        <option>143</option>
                                        <option>144</option>
                                        <option>145</option>
                                        <option>146</option>
                                        <option>147</option>
                                        <option>232</option>
                                        <option>232A</option>
                                    </select>
                                </div>
                            </div>
                        </div> -->


                            <div class="form-group">
                                <label for="inputPeriod" class="col-sm-2 control-label">Starting Period</label>
                                <div class="col-sm-10">
                                    <div class="input-group">
                                        <div class="input-group-addon">#</div>
                                        <select class="form-control" ng-model="request.period" name="period" id="inputPeriod" ng-required>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option id='five'>5</option>
                                            <option>6</option>
                                            <option>7</option>
                                            <option>8</option>
                                            <option>9</option>
                                            <option>10</option>
                                            <option>11</option>
                                            <option value="12">E1</option>
                                            <option value="13">E2</option>
                                            <option value="14">E3</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputLength" class="col-sm-2 control-label">Length (Periods)</label>
                                <div class="col-sm-10">
                                    <div class="input-group">
                                        <div class="input-group-addon">#</div>
                                        <select class="form-control" ng-model="request.length" name="length" id="inputLength" ng-required>
                                            <option id='lOne'>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div data-ng-show="error" class="text-center text-danger">
                                <strong data-ng-bind="error"></strong>
                            </div>
                            <br>
                            <!-- Request Information module ends here -->
                            <!-- On submitform have a success message, on cancel close the big modal-->
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Submit</button>
                                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                            </div>
                        </form>
                    </ul>
                </div>


        </script>


        <!--Select Room Number and form pops up-->
        <!--Should auto-populate form-->
      
        <div class="jumbotron">
            <h3> Step 2 - Pick a room! </h3>
            <div class="btn-toolbar"  data-toggle="buttons">

                <button type="button" ng-attr-id="101" ng-click="buttonData(101)"  id="101" class="btn btn-default">Room 101</button>
                <button type="button" ng-attr-id="106B" ng-click="buttonData('106B')" id="106B" class="btn btn-default">Room 106B</button>
                <button type="button" ng-attr-id="120" ng-click="buttonData(120)" id="120" class="btn btn-default">Room 120</button>
                <button type="button" ng-attr-id="121" ng-click="buttonData(121)" id="121" class="btn btn-default">Room 121</button>
                <button type="button" ng-attr-id="142" ng-click="buttonData(142)" id="142" class="btn btn-default">Room 142</button>
                <button type="button" ng-attr-id="143" ng-click="buttonData(143)" id="143" class="btn btn-default">Room 143</button>
            </div>
                <br>
            <div class="btn-toolbar" data-toggle="buttons">
                <button type="button" ng-attr-id="144" ng-click="buttonData(144)" id="144" class="btn btn-default">Room 144</button>
                <button type="button" ng-attr-id="145" ng-click="buttonData(145)" id="145" class="btn btn-default">Room 145</button>
                <button type="button" ng-attr-id="146" ng-click="buttonData(146)" id="146" class="btn btn-default">Room 146</button>
                <button type="button" ng-attr-id="232" ng-click="buttonData(232)" id="232" class="btn btn-default">Room 232</button>
                <button type="button" ng-attr-id="233A" ng-click="buttonData('233A')" id="233A" class="btn btn-default">Room 233A</button>

                        
            </div>


                </div>

            </div>

            <!--<div ng-show="selected">Selection from a modal: {{ selected }}</div>-->

        </div>
 
    
    </div>


<script type='text/javaScript'>
    $('#datePicker').datepaginator();
    console.log($('#datePicker').datepaginator());
</script>

 <script>
  $(function() {
    $( "#datepicker" ).datepicker({
      altField: "#alternate",
      altFormat: "DD, d MM, yy"
    });
  });
  </script>
<!--
                      <div> <p>Date: <input type="text" id="datepicker">&nbsp;<input type="text" id="alternate" size="30"></p> </div>
-->

</body>

</html>

</section>

