<section data-ng-controller="HomeController">

<!DOCTYPE html>
<html lang="en">

<head>

   

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title >App Template</title>

    <!-- Custom CSS -->
    <!-- added to custom.css
    <style>
    body {
        padding-top: 40px;
        padding-bottom:40px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

     

</head>

<body>

<div class="col-lg-12">
Hey Danny and I thought it might be cool if the home page were just a short description of the website and had just two buttons: one for requesting rooms by room and date (the current room page) and another for requessting by period and date, which will just bring up a list of rooms available which should be super easy.
</div>
</body>

</html>

</section>
